@import '../../../scss/colors';


.step-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-evenly;
  color: $gay-flame;

  .step {
    opacity: 0.3;
    border-bottom: 3px solid $gay-flame;

    &.visited {
      opacity: 1;
    }
  }

}

@media screen and (max-width: 650px) {
  .step>span:nth-child(even) {
    display: none;
  }
}
