@import 'src/scss/material';

.story-info-container {
	max-width: $zone-width;
	margin-left: auto;

	form {
		display: flex;
		flex-direction: column;

		p {
			color: $bird-of-prey;
		}


		.slide-toggle {
			margin: auto;
			margin-top: 1rem;
		}

		.slider {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;

			p {
				text-align: center;
			}
		}

	}

}

.assignment-load {
	margin: auto;
}
