@import 'src/scss/mixins';
@import 'src/scss/colors';

h2 {
	padding: 1rem;
	text-align: center;
}

img {
	margin: auto;
	display: block;
	margin-bottom: 1rem;
}

button {
	display: block;
	margin: auto;
	@include pro-btn()
}

mat-spinner {
	position: inherit;
	margin: auto;
	margin-top: 4rem;
}

.progress-percent {
	margin-top: 0.5rem;
	text-align: center;

	.progress-red {
		color: $gay-flame;
	}
}
