@import 'src/scss/colors';
@import 'src/scss/globals';
@import 'src/scss/mixins';

.container {

	.navbar {
		background: $white;
		@include shadow-rad(0.5rem);
		padding-top: 0.5rem;
		border-radius: 3px;
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		.navbar-header {
			display: flex;
			justify-content: space-between;

			&.login-screen {
				justify-self: center;
			}

			img {
				max-width: 5rem;
				max-height: 5rem;
				border-radius: 50%;
				cursor: pointer;
			}

			.left {
				display: flex;
			}


			.right {
				display: flex;

				h2 {
					margin-right: 0.85rem;
				}
			}

			.middle {
				align-self: center;
				text-align: center;

				a {
					@include pro-font(1.5rem, inherit, 0.5rem)
				}
			}

			.text {
				align-self: center;
			}
		}
	}
}

@media screen and (max-width: $media-breakpoint) {

	.right,
	.middle {
		display: none;
	}
}
