<div class="container">
	<div class="navbar">
		<div class="navbar-header">
			<div class="left">
				<img src="assets/icons/icon-192x192.png" (click)="homeBound()" alt="byrd-logo" class="logo">
				<img src="assets/logos/pro_text.svg" (click)="homeBound()" alt="byrd-logo" class="logo">
			</div>
			<div class="middle">
				<a [routerLink]="['/upload']" routerLinkActive="active bottom-border">Upload</a>
				<a [routerLink]="['/bookings']" routerLinkActive="active bottom-border">Booking</a>
			</div>
			<div class="right">
				<ng-container>
					<img class="logo" [matMenuTriggerFor]="menu" src="{{user.userPicture}}" alt="profile-logo">
					<mat-menu #menu="matMenu" yPosition="below">
						<button mat-menu-item (click)="logOut()">Log out</button>
					</mat-menu>
				</ng-container>
				<ng-template #placeholderTmp>
					<img class="logo" src="assets/icons/icon-192x192.png">
				</ng-template>
			</div>
		</div>
	</div>
</div>


<ng-template #loadTmp>
	<!-- <mat-spinner class="center-object" [diameter]="150" color="accent"></mat-spinner> -->
</ng-template>
