@import './colors';

.datalist-input {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
	@extend %shadow-rad;
	border-style: none;
}

a {
	text-decoration: none;

	&:hover,
	&:focus,
	&.active {
		cursor: pointer;
		color: rgba($blue-1, 1) !important;
		text-decoration: none;

		&.bottom-border {
			line-height: 3em;
			display: inline-block;
			text-decoration: none;
			border-bottom: solid 5px $blue-1;
			line-height: 5.25rem;
			margin-bottom: -0.5rem;
		}
	}
}

small {
	color: $bird-of-prey;
	font-size: 0.75rem;
	margin-top: 0.25rem;
	display: block;
}
